$black: #000000;
$white: #ffffff;
$red: #ff0032;
$purple: #333040;
$orange: #FBB040;


@font-face {
    font-family: 'TrasandinaBlack';
    src: url('../fonts/TrasandinaBlack.otf')
}

@font-face {
    font-family: 'TrasandinaBold';
    src: url('../fonts/TrasandinaBold.otf')
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    color:$white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.701961), rgba(0, 0, 0, 0.701961)), url(https://s3.amazonaws.com/ga-core/core/core-static/metros/default-background.jpg);
    cursor:none;
}

.rsArrow {
    display: none !important;
}

.rsContent {
    display: flex;
    align-items:center;
    justify-content: center;
}

.rsSlide, .rsOverflow {
    // background: rgba(0,0,0,0) !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.701961), rgba(0, 0, 0, 0.701961)), url(https://s3.amazonaws.com/ga-core/core/core-static/metros/default-background.jpg) !important;
}

.message{
    &:before, &:after {
        display: block;
        position: fixed;
        top:2vw;
        right: 2vw;
        left: 2vw;
        z-index: 100;
        text-align: right;
        font-size: 3vw;
    }
    &:after {
        content: "#GAFreelancer";
        text-align: left;
    }

    &:before {
        content: "Wifi: WL Guest\00a0\00a0\00a0\00a0\00a0Password: WORKLIFE@1";
        text-align: right;
        font-size: 1.8vw;
        color: darken($white, 50);
    }
}

.footer {
    z-index: 100;
    position: fixed;
    bottom:0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    color:$white;
    font-size: 2vw;
    padding: 1vw 1.5vw 1.5vw;
    background-color: $black;
    span {
        color: $red;
    }
    img {
        height: 2.3vw;
        margin-bottom: -0.7vw;
    }
}


.climb-feed {
    font-family: 'Karla', sans-serif;
    font-size: 1.5vh;

    color: $white;

    a {
        color: $black;
        text-decoration: none;
    }

    .climb-social-badge {
        // display: none;
    }

    .climb__tile, .climb__tile__content, .climb-slideshow__panel {
        background-color: $red;
    }

    .climb-slideshow__panel {
        min-width: 450px;
    }

    .climb-slideshow__panel {
        border-radius: 0 !important;
        border-bottom-right-radius: 2vw !important;
        box-shadow:none !important;
    }

    .climb-slideshow__slide--has-no-image .climb-slideshow__panel {
        border-top-left-radius:2vw !important;
        padding: 45px;
        max-height: 80vh;
        overflow: hidden;
    }

    .climb-slideshow__slide--has-image {
        .climb__message {
            margin-bottom: 30px;
            font-size: 130%;
        }
        .climb__image {
            max-height: 77vh;
            // min-height: 20vh;
        }
    }

    .climb__message {
        line-height: 1.05;
        a {
            white-space: normal;
            max-width: 100%;
            overflow: initial;
        }
    }

    .climb__author img {
        margin-left: 8px;
    }

    .climb__tile__author__username {
        text-transform: uppercase;
    }

}

.image {
    background-size: cover;
    background-position: 50% 50%;
    &.pattern {
        background-position: 0 0;
        background-size: 316px 280px;
    }
}

.center {
    width: 80vw;
    text-align: center;
    h3 {
        font-size: 4vw;
        line-height: 0.9;
        span {
            color: $red;
        }
    }
    .speakers {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10vw;
        .speaker {
            width: 30vw;
            img {
                width: 10vw;
                height: 10vw;
                border-radius: 5vw;
            }
            h4 {
                font-size: 1.5vw;
                text-transform: uppercase;
            }
            span {
                font-size: 1vw;
            }
        }
    }
}
